.cell {
    border: solid 1px gray;
    border-radius: 3px;
    margin: 1px;
}

.cell-inner {
    width: 100%;
    height: 100%;
}
.cell-ship {
    background: repeating-linear-gradient(
        -60deg,
        #555 0,
        #555 1px,
        transparent 1px,
        transparent 5px
    );
}

.cell-unknown {
    background-color: lightgray;
}

.cell-s-empty {
    background-color: green;
}
.cell-w-ship {
    background-color: red;
}

/* .cell-select {
  border: solid 2px purple;
} */
