.select-cont {
    display: flex;
    flex-direction: row;
}
/* 
.select-cont  >:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
} */

.select-item {
    padding: 1.47rem;
    border: solid 1px gray;
    border-radius: 3px;
    margin: 1px;
}

.select-cont-selected {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.flex {
    display: flex;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
