.cell {
    border: solid 1px gray;
    border-radius: 3px;
    margin: 1px;
    display: flex;
}


.img {
    width: 2rem;
    height: auto;
}

.row {
    display: flex;
    flex-direction: row;
    z-index: 0;
}
